<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lol</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<h1>Lol</h1>
		<input type="number" id="elejir" class="bg-red-600" />
		<button id="buscar">buscar</button>
		<h3 class="flex justify-center avatar"></h3>
		<div class="flex justify-center mt-5 img"></div>
		<script src="/js/api.js"></script>
	</body>
</html>
